
/* Estilo geral do card */
.card {
    background-color: #ffffff; /* Cor de fundo do card */
    border: 1px solid #dddddd; /* Borda do card */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 16px; /* Espaçamento interno */
    width: 100%; /* Largura ajustada para ocupar toda a largura da coluna */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
}

.check1, .check2, .check3{
    -webkit-appearance: none; /* Remove a aparência padrão do checkbox no Safari */
    -moz-appearance: none; /* Remove a aparência padrão do checkbox no Firefox */
    appearance: none; /* Remove a aparência padrão do checkbox */
    width: 16px; /* Definindo a largura do checkbox */
    height: 16px; /* Definindo a altura do checkbox */
    border: 1px solid orange; /* Definindo a borda com a cor laranja */
    border-radius: 3px; /* Arredondando as bordas */
    outline: none; /* Remove o contorno ao focar */
    margin-right: 5px; /* Adiciona um espaçamento à direita */
}

/* Estilizando o checkbox quando marcado */
.check1:checked, .check2:checked, .check3:checked {
    background-color: orange; /* Altera a cor de fundo quando o checkbox está marcado */
}

/* Estilo do título do card */
.card h2 {
    color: #EB9B00;; /* Cor do texto do título */
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 16px; /* Espaço abaixo do título */
}

.tituloh1 {
    font-size: 20px; /* Tamanho da fonte do título */
    color: white;
}
.t1{
    background-color: #20c997;
}

.tituloh2 {
    color: #20c997;; /* Cor do texto do título */
    font-size: 24px; /* Tamanho da fonte do título */
}

/* Estilo dos parágrafos do card */
.card p {
    color: #666666; /* Cor do texto do parágrafo */
    font-size: 16px; /* Tamanho da fonte do parágrafo */
    line-height: 1.6; /* Altura da linha do texto */
    margin-bottom: 16px; /* Espaço abaixo do parágrafo */
}

/* Estilo específico para o elemento 'Esporte' */
.card p#escolha-esporte {
    color: #007bff; /* Cor do texto do elemento Esporte em azul */
    font-weight: bold; /* Texto em negrito */
    margin-bottom: 24px; /* Espaço maior abaixo do elemento Esporte */
}

/* Estilo do botão no card */
.card button {
    background-color: #EB9B00; /* Cor de fundo do botão */
    border: none; /* Sem borda */
    border-radius: 4px; /* Bordas arredondadas do botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 8px 16px; /* Espaçamento interno do botão */
    text-transform: uppercase; /* Texto em maiúsculas */
    cursor: pointer; /* Cursor de mão quando passar o mouse */
    margin-top: 16px; /* Espaço acima do botão */
}

/* Estilo do botão no card ao passar o mouse */
.card button:hover {
    background-color: #EB9B00; /* Cor de fundo do botão ao passar o mouse */
}

#applyFilter{
    display: none;
}
